.about
{
    min-height: 110vh;
    background: url(../img/img\ \ 11.jpg);
    background-size:cover;
}


/* .box-container {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
  } */

  .box-container
  {
    width: 50%;
    height: 80%;
    background-color: transparent;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    margin-left: 26vw;
    align-items: center;
    transition: 0.3s all;
  }

  .box
  {
    margin-top: 30vh;
    width: 95%;
    height: 95%;
    background-color: var(--primary-color);
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s all;
  }